doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='socket.io/socket.io.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
  body
    block content
